@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-ocean {
  @apply bg-mobile md:bg-desktop bg-cover bg-center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Keyframe for natural, curving movement */

@keyframes move-left {
  0% {
    transform: translate(0vw, 0) rotate(0deg);
  }
  25% {
    transform: translate(25vw, -7vw) rotate(10deg);
  }
  50% {
    transform: translate(50vw, 7vw) rotate(-10deg);
  }
  75% {
    transform: translate(75vw, -5vw) rotate(5deg);
  }
  100% {
    transform: translate(100vw, 0) rotate(0deg);
  }
}
@keyframes move-right {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-25vw, 7vw) rotate(10deg);
  }
  50% {
    transform: translate(-50vw, -7vw) rotate(-10deg);
  }
  75% {
    transform: translate(-75vw, 5vw) rotate(5deg);
  }
  100% {
    transform: translate(-100vw, 0) rotate(0deg);
  }
}

.fish {
  animation-timing-function: cubic-bezier(
    0.42,
    0.58,
    0.78,
    1
  ); /* Smooth curve */
  transform-origin: center;
  will-change: transform;
}
